@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--Light-gray);
}
body {
  display: grid;
  place-items: center;
}
.card {
  background-color: white;
  /* max-width: 220px;  */
  width: min(318px, 85%);
  padding: 0.8em;
}
.qr-img {
  width: 100%;
}
p {
  text-align: center;
}
p:nth-of-type(1) {
  color: var(--Dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
}
p:nth-of-type(2) {
  color: var(--Grayish-blue);
}

.round-edges {
  border-radius: 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
